<div class="script-custom-action">
  <nb-icon *ngIf="value.isViewable" icon="eye-outline" status="primary" title="View Script" (click)="viewScript()"></nb-icon>
  <nb-icon *ngIf="value.isEditable" icon="edit-2-outline" status="primary" title="Edit Script" (click)="editScript()"></nb-icon>
  <nb-icon *ngIf="value.isDeletable" icon="trash-2-outline" status="danger" title="Delete Script" (click)="deleteScript()"></nb-icon>
  <nb-icon *ngIf="value.isRunnable" icon="play-circle-outline" status="success" title="Run" (click)="runScript()"></nb-icon>
</div>


