<div class="script-custom-action">
  <nb-icon *ngIf="value.isViewable" icon="eye-outline" status="primary" title="View Script" (click)="viewScript()"></nb-icon>
  <nb-icon *ngIf="value.isEditable" icon="edit-2-outline" status="primary" title="Edit Script" (click)="editScript()"></nb-icon>
  <nb-icon *ngIf="value.isDeletable" icon="trash-2-outline" status="danger" title="Delete Script" (click)="deleteScript()"></nb-icon>
  <nb-icon *ngIf="value.isRunnable" icon="play-circle-outline" status="success" title="Run" (click)="runScript()"></nb-icon>
</div>
<!-- <div class="row">
  <div class="col-sm-12">
    <div class="col-sm-4">
      <nb-icon icon="eye-outline" status=""></nb-icon>
    </div>
    <div class="col-sm-4">
      <nb-icon icon="edit-2-outline" status=""></nb-icon>
    </div>
    <div class="col-sm-4">
      <nb-icon icon="trash-2-outline" status="danger"></nb-icon>
    </div>
    <div class="col-sm-4">
      <nb-icon icon="play-circle-outline" status="success"></nb-icon>
    </div>
  </div>
</div> -->

